body {
  height: 100%;
  background-color: #eceaea;
}

#game-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  position: relative;
}

#game-container > canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
